{% style %}
    .luminous-blog__article-card {
        min-height: 450px;
    }

    .luminous-blog__article-image {
        aspect-ratio:16/9;
        object-fit:cover;
    }
{% endstyle %}

<div class="main">
    {% assign blog_banner_bg_url = section.settings.hero_banner_blog |  default : 'https://cdn.shopify.com/s/files/1/0639/4934/0808/files/blog_bg.jpg?v=1723800681' %}
    <section class="module bg-dark-60 blog-page-header" data-background="{{ blog_banner_bg_url }}">
        <div class="container">
            <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">{{ section.settings.hero_banner_heading }}</h2>
                <div class="module-subtitle font-serif">{{ section.settings.hero_banner_subtitle }}</div>
            </div>
            </div>
        </div>
    </section>

    <section class="module">
        <div class="container">
            <div class="row multi-columns-row post-columns">
                {% for article in blog.articles %}
                    <div class="luminous-blog__article-card col-sm-6 col-md-4 col-lg-4">
                        <div class="post">
                            <div class="post-thumbnail">
                                <a href="{{ article.url }}">
                                    {% if article.image %}
                                        <img class="luminous-blog__article-image" src="{{ article.image | image_url }}" alt="{{ article.title }}">
                                    {% else %}
                                        <img class="luminous-blog__article-image" src="{{ 'blog_thumbnail.jpg' | asset_img_url }}" alt="{{ article.title }}">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="post-header font-alt">
                                <h2 class="post-title">
                                    <a href="{{ article.url }}">{{ article.title }}</a>
                                </h2>
                                <div class="post-meta">
                                    By&nbsp; <a href="{{ article.url }}">{{ article.author }}</a>
                                    &nbsp;| {{ article.published_at | date: "%b %d" }} |
                                    {{ article.comments_count }} Comments
                                </div>
                            </div>
                            <div class="post-entry">
                                <p> 
                                    {% if article.excerpt.size > 0 %}
                                        {{ article.excerpt | strip_html | truncate: 140 }}
                                    {% else %}
                                        {{ article.content | strip_html | truncate: 140 }}
                                    {% endif %}
                                </p>
                            </div>
                            <div class="post-more">
                                <a class="more-link" href="{{ article.url }}">Read more</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="pagination font-alt">
                <a href="#"><i class="fa fa-angle-left"></i></a>
                <a class="active" href="#">1</a><a href="#">2</a>
                <a href="#">3</a><a href="#">4</a>
                <a href="#"><i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </section>
</div>


{% schema %}
{
    "name": "My Template Blog",
    "tag": "section",
    "class": "luminous-blog",
    "settings": [
        {
            "type": "url" ,
            "id": "hero_banner_blog",
            "label": "Blog Hero Banner"
        }, 
        {
            "type": "text",
            "id": "hero_banner_heading",
            "label": "Blog Hero Heading",
            "default": "Blog Grid"
        },
        {
            "type": "text",
            "id": "hero_banner_subtitle",
            "label": "Blog Hero Subtitle",
            "default": "A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart."
        }
    ]
}
{% endschema %}